@charset "utf-8";


.spinWarp {
  --spin-size: 30px;
  --spin-color: #1288f6;
  --spin-bg-color: rgba(0, 0, 0, 0.01);

  &.small {
    --spin-size: 20px;
  }

  &.less {
    --spin-size: 15px;
  }

  &.large {
    --spin-size: 50px;
  }

  min-height: var(--spin-size);


  position: relative;
  overflow: hidden;

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 49;
    width: 100%;
    height: 100%;
    //background: var(--spin-bg-color);
  }

  .spinContent {
    position: relative;
    display: block;
    width: var(--spin-size);
    height: var(--spin-size);
    background-color: var(--spin-bg-color);
    border-radius: 999px;
  }

  .spinContent:after {
    content: ' ';
    display: block;
    box-sizing: border-box;
    width: 0;
    height: 0;
    margin: calc(var(--spin-size) * 0.1406);
    border-width: calc(var(--spin-size) / 2.8125);
    border-style: solid;
    border-color: var(--spin-color) transparent var(--spin-color) transparent;
    border-radius: 50%;
    animation: loading 1.2s infinite;
  }

}


@keyframes loading {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
