.cwal-warp {
  --padding: 1.2em 0.8em;

}

.cwal-warp .swal2-popup {
  padding: var(--padding) !important;
}

.cwal-warp .swal2-header {
  padding: 0 0.5em !important;
}

.cwal-warp .swal2-content {
  padding: 0 0.5em !important;
}
